@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --background-admin: #22272E;
  --color-canvas-default: #22272e;
  --color-mktg-btn-bg: #f6f8fa;
}
body {
  /*background: url("../img/Arrière-plan-copie.png");*/
  background: #121316;
}
#body-admin {
  background-color: var(--background-admin);
}
html {
  scroll-behavior: smooth;
}
img {
  /*background-color: #202124;*/
  transition: 300ms ease-in;
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}
img#logoFooter {
  background-color: transparent;
}
img#logoFooter:hover {
  background-color: transparent;
}
#dialog {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.dialogModal_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}
#text-font-gradient {
  background: linear-gradient(140deg, #D2A8FF 12.09%, #F778BA 42.58%, #FF7B72 84.96%);
    background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
}
.btn-mktg {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: .9rem 1.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: var(--color-canvas-default);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%),var(--color-mktg-btn-bg) !important;
  border: 0;
  border-radius: .375rem;
  transition: box-shadow .2s;
  -webkit-appearance: none !important;
  appearance: none !important;
}